<h2>DESCRIPTION</h2>

<em>r.stats.quantile</em> is a tool to analyse exploratory statistics of a
floating-point "cover layer" according to how it intersects with objects
in a "base layer". It provides quantile calculations as selected
"zonal statistics".

<h2>NOTES</h2>

<em>r.stats.quantile</em> is intended to be a partial replacement for
<em><a href="r.statistics.html">r.statistics</a></em>, with support
for floating-point cover maps. It provides quantile calculations,
which are absent from
<em><a href="r.stats.zonal.html">r.stats.zonal</a></em>.

<p>
Quantiles are calculated following algorithm 7 from Hyndman and Fan (1996),
which is also the default in R and numpy.

<h2>EXAMPLE</h2>

In this example, the raster polygon map <code>zipcodes</code> in the North
Carolina sample dataset is used to calculate quantile raster statistics using
the <code>elevation</code> raster map:

<div class="code"><pre>
g.region raster=zipcodes -p

# print quantiles
r.stats.quantile base=zipcodes cover=elevation quantiles=3 -p
27511:0:33.333333:134.717392
27511:1:66.666667:143.985723
27513:0:33.333333:140.669993
27513:1:66.666667:146.279449
27518:0:33.333333:115.140101
27518:1:66.666667:129.893723
[...]

# write out percentile raster maps
r.stats.quantile base=zipcodes cover=elevation percentiles=25,50,75 \
  output=zipcodes_elev_q25,zipcodes_elev_q50,zipcodes_elev_q75
</pre></div>

<h2>REFERENCES</h2>

<ul>
<li>Hyndman and Fan (1996) <i>Sample Quantiles in Statistical
Packages</i>, <b>American Statistician</b>. American Statistical
Association. 50 (4): 361-365. DOI: <a
href="https://doi.org/10.2307/2684934>10.2307/2684934">10.2307/2684934</a></li>
<li><a
href="https://www.itl.nist.gov/div898/handbook/prc/section2/prc262.htm"><i>Engineering
Statistics Handbook: Percentile</i></a>, NIST</li>
</ul>

<h2>SEE ALSO</h2>

<em>
<a href="r.quantile.html">r.quantile</a>,
<a href="r.stats.zonal.html">r.stats.zonal</a>,
<a href="r.statistics.html">r.statistics</a>
</em>

<h2>AUTHORS</h2>

Glynn Clements<br>
Markus Metz
