<h2>DESCRIPTION</h2>

<em>r.mapcalc</em> performs arithmetic on raster map layers.
New raster map layers can be created which are arithmetic expressions
involving existing raster map layers, integer or floating point constants,
and functions.

<h3>Program use</h3>

<em>r.mapcalc</em> expression have the form:
<p><b>result =</b><em> expression</em>
<p>where <em>result</em> is the name of a raster map layer
to contain the result of the calculation and
<b>expression</b> is any legal arithmetic expression involving existing
raster map layers (except <em>result</em> itself), integer or floating point constants,
and functions known to the calculator.
Parentheses are allowed in the expression and may be nested to any depth.
<em>result</em> will be created in the user's current mapset.
<p>
As <b>expression=</b> is the first option, it is the default. This
means that passing an expression on the command line is possible
as long as the expression is quoted and a space is included before the
first <em>=</em> sign.

Example ('foo' is the resulting map):
<div class="code"><pre>
r.mapcalc "foo = 1"
</pre></div>
or:
<div class="code"><pre>
r.mapcalc 'foo = 1'
</pre></div>

An unquoted expression (i.e. split over multiple arguments) won't
work, nor will omitting the space before the = sign:

<div class="code"><pre>
r.mapcalc 'foo=1'
Sorry, &lt;foo&gt; is not a valid parameter
</pre></div>

To read command from the file, use file=
explicitly, e.g.:

<div class="code"><pre>
r.mapcalc file=file
</pre></div>
or:
<div class="code"><pre>
r.mapcalc file=- &lt; file
</pre></div>
or:
<div class="code"><pre>
r.mapcalc file=- &lt;&lt;EOF
foo = 1
EOF
</pre></div>

<p>The formula entered to <em>r.mapcalc</em> by the user is recorded both in the
<em>result</em> map title (which appears in the category file for <em>result</em>)
and in the history file for <em>result</em>.
<p>Some characters have special meaning to the command shell. If the user
    is entering input to <em>r.mapcalc</em> on the command line, expressions
    should be enclosed within single quotes. See NOTES, below.
</p>
<h3>Computational regions in r.mapcalc</h3>
<p>
    By default <em>r.mapcalc</em> uses the current region
    as computational region that
    was set with <a href="g.region.html">g.region</a> for processing.
    Sometimes it is necessary to use a region that is derived from the
    raster maps in the expression to set the computational region.
    This is of high importance for modules that use r.mapcalc internally
    to process time series of satellite images that all have different
    spatial extents. A module that requires this feature
    is <a href="t.rast.algebra.html">t.rast.algebra</a>.
    The <em>region</em> option of <em>r.mapcalc</em>
    was implemented to address this requirement.
    It allows computing and using a region based on
    all raster maps in an expression. Three modes are supported:
</p>
<ul>
    <li>
        Setting the <em>region</em> parameter to <em>current</em>
        will result in the use of the current region
        as computational region. This is the default.
        The current region can be set with <a href="g.region.html">g.region</a>.
    </li>
    <li>
        The parameter <em>union</em> will force r.mapcalc
        to compute the disjoint union of all regions from raster
        maps specified in the expression. This
        computed region will then be used as computational region at runtime.
        The region of the mapset will not be modified.
        The smallest spatial resolution
        of all raster maps will be used for processing.
    </li>
    <li>
        The parameter <em>intersect</em> will force r.mapcalc
        to compute the intersection of all regions from raster
        maps specified in the expression. This
        computed region will then be used as computational region at runtime.
        The region of the mapset will not be modified.
        The smallest spatial resolution
        of all raster maps will be used for processing.
    </li>
</ul>

<h3>Operators and order of precedence</h3>

The following operators are supported:
<div class="code"><pre>
     Operator   Meaning                    Type        Precedence
     --------------------------------------------------------------
     -          negation                   Arithmetic  12
     ~          one's complement           Bitwise     12
     !          not                        Logical     12
     ^          exponentiation             Arithmetic  11
     %          modulus                    Arithmetic  10
     /          division                   Arithmetic  10
     *          multiplication             Arithmetic  10
     +          addition                   Arithmetic   9
     -          subtraction                Arithmetic   9
     &lt;&lt;         left shift                 Bitwise      8
     &gt;&gt;         right shift                Bitwise      8
     &gt;&gt;&gt;        right shift (unsigned)     Bitwise      8
     &gt;          greater than               Logical      7
     &gt;=         greater than or equal      Logical      7
     &lt;          less than                  Logical      7
     &lt;=         less than or equal         Logical      7
     ==         equal                      Logical      6
     !=         not equal                  Logical      6
     &amp;          bitwise and                Bitwise      5
     |          bitwise or                 Bitwise      4
     &amp;&amp;         logical and                Logical      3
     &amp;&amp;&amp;        logical and[1]             Logical      3
     ||         logical or                 Logical      2
     |||        logical or[1]              Logical      2
     ?:         conditional                Logical      1
</pre></div>
(modulus is the remainder upon division)
<p>[1] The &amp;&amp;&amp; and ||| operators handle null values differently to other
operators. See the section entitled <b>NULL support</b> below for more
details.
<p>The operators are applied from left to right, with those of higher precedence
applied before those with lower precedence.
Division by 0 and modulus by 0 are acceptable and give a NULL result.
The logical operators give a 1 result if the comparison is true, 0 otherwise.
<p><p>

<h3>Raster map layer names</h3>

Anything in the expression which is not a number, operator, or function name
is taken to be a raster map layer name.
Examples:
<p><div class="code"><pre>
elevation
x3
3d.his
</pre></div>
<p>Most GRASS raster map layers meet this naming convention.
However, if a raster map layer has a name which conflicts with the
above rule, it should be quoted.  For example, the expression
<p><div class="code"><pre>
x = a-b
</pre></div>
<p>would be interpreted as:  x equals a minus b, whereas
<p><div class="code"><pre>
x = "a-b"
</pre></div>
<p>would be interpreted as:  x equals the raster map layer named <em>a-b</em>
<p>Also
<p><div class="code"><pre>
x = 3107
</pre></div>
<p>would create <em>x</em> filled with the number 3107, while
<p><div class="code"><pre>
x = "3107"
</pre></div>
<p>would copy the raster map layer <em>3107</em> to the raster map layer <em>x</em>.

<p>Quotes are not required unless the raster map layer names
look like numbers or contain operators, OR unless the program
is run non-interactively.  Examples given here assume the
program is run interactively.  See NOTES, below.
<p><em>r.mapcalc</em> will look for the raster map layers according to the
user's current mapset search path.
It is possible to override the search path and specify the mapset
from which to select the raster map layer.
This is done by specifying the raster map layer name in the form:
<p><div class="code"><pre>
name@mapset
</pre></div>
<p>For example, the following is a legal expression:
<p><div class="code"><pre>
result = x@PERMANENT / y@SOILS
</pre></div>
<p>The mapset specified does not have to be in the mapset search path.
(This method of overriding the mapset search path is common to all
GRASS commands, not just <em>r.mapcalc</em>.)
<p>

<h3>The neighborhood modifier</h3>

Maps and images are data base files stored in raster format, i.e.,
two-dimensional matrices of integer values.
In <em>r.mapcalc</em>, maps may be followed by a <em>neighborhood</em> modifier that
specifies a relative offset from the current cell being evaluated.  The format is
<em>map[r,c]</em>, where <em>r</em> is the row offset and <em>c</em> is the column offset.
For example, <em>map[1,2]</em> refers to the cell one row below and two columns
to the right of the current cell, <em>map[-2,-1]</em> refers to the cell
two rows above and one column to the left of the current cell,
and <em>map[0,1]</em> refers to the cell one column to the right of the current cell.
This syntax permits the development of neighborhood-type filters within a single
map or across multiple maps.
<p>

The neighborhood modifier cannot be used on maps generated within same <em>r.mapcalc</em>
command run (see "KNOWN ISSUES" section).
<p>

<h3>Raster map layer values from the category file</h3>

Sometimes it is desirable to use a value associated with a category's
<em>label</em> instead of the category value itself.  If a raster
map layer name is preceded by the <b>@</b>
operator, then the labels in the category file for the raster map layer
are used in the expression instead of the category value.
<p>For example, suppose that the raster map layer <em>soil.ph</em>
(representing soil pH values) has a category file with labels as follows:
<p><div class="code"><pre>
cat     label
------------------
0       no data
1       1.4
2       2.4
3       3.5
4       5.8
5       7.2
6       8.8
7       9.4
</pre></div>
<p>Then the expression:
<p><div class="code"><pre>
result = @soils.ph
</pre></div>
<p>would produce a result with category values
0, 1.4, 2.4, 3.5, 5.8, 7.2, 8.8 and 9.4.
<p>Note that this operator may only be applied to raster map layers
and produces a floating point value in the expression.
Therefore, the category label must start with a valid number.
If the category label is integer, it will be represented by
a floating point number. I the category label does not start
with a number or is missing, it will be represented by NULL
(no data) in the resulting raster map.

<h3>Grey scale equivalents and color separates</h3>

It is often helpful to manipulate the colors assigned to map categories.
This is particularly useful when the spectral properties of cells have meaning
(as with imagery data), or when the map category values represent real
quantities (as when category values reflect true elevation values).
Map color manipulation can also aid visual recognition, and map printing.
<p>The # operator can be used to either convert map category values to their
grey scale equivalents or to extract the red, green, or blue components
of a raster map layer into separate raster map layers.
<p><div class="code"><pre>
result = #map
</pre></div>
<p>converts each category value in <em>map</em> to a value in the range 0-255 which
represents the grey scale level implied by the color for the category.
If the map has a grey scale color table, then the grey level is what
#map evaluates to.  Otherwise, it is computed as:
<p><div class="code"><pre>
 0.10 * red + 0.81 * green + 0.01 * blue
</pre></div>
<p>Alternatively, you can use:
<p><div class="code"><pre>
result = y#map
</pre></div>
<p>to use the NTSC weightings:
<p><div class="code"><pre>
 0.30 * red + 0.59 * green + 0.11 * blue
</pre></div>
<p>Or, you can use:
<p><div class="code"><pre>
result = i#map
</pre></div>
<p>to use equal weightings:
<p><div class="code"><pre>
 0.33 * red + 0.33 * green + 0.33 * blue
</pre></div>
<p>The # operator has three other forms:  r#map, g#map, b#map.
These extract the red, green, or blue components in the named raster map,
respectively.  The GRASS shell script <em><a href="r.blend.html">r.blend</a></em> extracts each of these
components from two raster map layers, and combines them by a user-specified
percentage.
These forms allow color separates to be made.  For example, to
extract the red component from <em>map</em>
and store it in the new 0-255 map layer <em>red</em>,
the user could type:
<p><div class="code"><pre>
red = r#map
</pre></div>
<p>To assign this map grey colors type:
<p><div class="code"><pre>
<a href="r.colors.html">r.colors</a> map=red color=rules
black
white
</pre></div>
<p>To assign this map red colors type:
<p><div class="code"><pre>
<a href="r.colors.html">r.colors</a> map=red color=rules
black
red
</pre></div>
<p>

<h3>Functions</h3>

The functions currently supported are listed in the table below.
The type of the result is indicated in the last column.
<em>F</em> means that the functions always results in a floating point value,
<em>I</em> means that the function gives an integer result, and
<em>*</em> indicates that the result is float if any of the arguments to the
function are floating point values and integer if all arguments are integer.

<p><div class="code"><pre>
function                description                                     type
---------------------------------------------------------------------------
abs(x)                  return absolute value of x                      *
acos(x)                 inverse cosine of x (result is in degrees)      F
asin(x)                 inverse sine of x (result is in degrees)        F
atan(x)                 inverse tangent of x (result is in degrees)     F
atan(x,y)               inverse tangent of y/x (result is in degrees)   F
ceil(x)                 the smallest integral value not less than x     *
cos(x)                  cosine of x (x is in degrees)                   F
double(x)               convert x to double-precision floating point    F
eval([x,y,...,]z)       evaluate values of listed expr, pass results to z
exp(x)                  exponential function of x                       F
exp(x,y)                x to the power y                                F
float(x)                convert x to single-precision floating point    F
floor(x)                the largest integral value not greater than x   *
graph(x,x1,y1[x2,y2..]) convert the x to a y based on points in a graph F
graph2(x,x1[,x2,..],y1[,y2..])
                        alternative form of graph()                     F
if                      decision options:                               *
if(x)                   1 if x not zero, 0 otherwise
if(x,a)                 a if x not zero, 0 otherwise
if(x,a,b)               a if x not zero, b otherwise
if(x,a,b,c)             a if x &gt; 0, b if x is zero, c if x &lt; 0
int(x)                  convert x to integer [ truncates ]              I
isnull(x)               check if x = NULL
log(x)                  natural log of x                                F
log(x,b)                log of x base b                                 F
max(x,y[,z...])         largest value of those listed                   *
median(x,y[,z...])      median value of those listed                    *
min(x,y[,z...])         smallest value of those listed                  *
mod(x,y)                return the modulus (the remainder) of x/y       *
mode(x,y[,z...])        mode value of those listed                      *
nmax(x,y[,z...])        largest value of those listed, excluding NULLs  *
nmedian(x,y[,z...])     median value of those listed, excluding NULLs   *
nmin(x,y[,z...])        smallest value of those listed, excluding NULLs *
nmode(x,y[,z...])       mode value of those listed, excluding NULLs     *
not(x)                  1 if x is zero, 0 otherwise
pow(x,y)                x to the power y                                *
rand(a,b)               random value x : a &lt;= x &lt; b                     *
round(x)                round x to nearest integer                      I
round(x,y)              round x to nearest multiple of y
round(x,y,z)            round x to nearest y*i+z for some integer i
sin(x)                  sine of x (x is in degrees)                     F
sqrt(x)                 square root of x                                F
tan(x)                  tangent of x (x is in degrees)                  F
xor(x,y)                exclusive-or (XOR) of x and y                   I
</pre></div>

<div class="code"><pre>
Internal variables:
 row()                  current row of moving window                    I
 col()                  current col of moving window                    I
 nrows()                number of rows in computation region            I
 ncols()                number of columns in computation region         I
 x()                    current x-coordinate of moving window           F
 y()                    current y-coordinate of moving window           F
 ewres()                current east-west resolution                    F
 nsres()                current north-south resolution                  F
 area()                 area of current cell in square meters           F
 null()                 NULL value
</pre></div>
Note, that the row() and col() indexing starts with 1.

<h3>Data types and their precision</h3>

There are three data types that can be used within the mapcalc expression. They
are defined with certain precision and within certain value range. The
following table reports precision and value range info on AMD64 (x86-64)
architectures compiled with GCC/CLANG. Note that although this setting is the
most frequent one, the ranges could differ for different architectures.

<p><div class="code"><pre>
data type               precision and value range info
-------------------------------------------------------------------------------
 int                    a 32-bit integer with a range from -2,147,483,647 to
                        +2,147,483,647. The value -2,147,483,648 is reserved
                        for NODATA.
 float                  a 32-bit float (Float32) with a range from -3.4E38 to
                        3.4E38. However, the integer precision can be only
                        ensured between -16,777,216 and 16,777,216. If your
                        raster overpasses this range, it is strongly suggested
                        to use the type double instead.
 double                 a 64-bit float (Float64) with a range from -1.79E308 to
                        1.79E308. It is 8 bytes, 15-17 digits precision.
 null                   NULL value. Refer to section "NULL support" below.
</pre></div>

Note that the value counter wraps around when the value overflows its range.
E.g., if your expression is <code>a = int(2147483648)</code>, you will get NULL
value. For expression <code>a = int(2147483649)</code>, you will reach the lowest
value possible instead, i.e. -2147483647.

<h3>Floating point values in the expression</h3>

Floating point numbers are allowed in the expression. A floating point
number is a number which contains a decimal point:
<div class="code"><pre>
    2.3   12.0   12.   .81
</pre></div>
Floating point values in the expression are handled in a special way.
With arithmetic and logical operators, if either operand is float,
the other is converted to float and the result of the operation is float.
This means, in particular that division of integers results in a
(truncated) integer, while division of floats results in an accurate
floating point value.  With functions of type * (see table above),
the result is float if any argument is float, integer otherwise.
<p>Note: If you calculate with integer numbers, the resulting map will
be integer. If you want to get a float result, add the decimal point
to integer number(s).
<p>If you want floating point division, at least one of the arguments has
to be a floating point value. Multiplying one of them by 1.0 will
produce a floating-point result, as will using float():
<div class="code"><pre>
      r.mapcalc "ndvi = float(lsat.4 - lsat.3) / (lsat.4 + lsat.3)"
</pre></div>

<h3>NULL support</h3>

<ul>
<li>Division by zero should result in NULL.</li>
<li>Modulus by zero should result in NULL.</li>
<li>NULL-values in any arithmetic or logical operation should result
in NULL. (however, &amp;&amp;&amp; and ||| are treated specially, as described below).</li>
<li>The &amp;&amp;&amp; and ||| operators observe the following axioms even when x is NULL:
<div class="code"><pre>
    x &amp;&amp;&amp; false == false
    false &amp;&amp;&amp; x == false
    x ||| true == true
    true ||| x == true
</pre></div></li>
<li>NULL-values in function arguments should result in NULL (however,
if(), eval() and isnull() are treated specially, as described below).</li>
<li>The eval() function always returns its last argument</li>
<li>The situation for if() is:
<div class="code"><pre>
if(x)
    NULL if x is NULL; 0 if x is zero; 1 otherwise
if(x,a)
    NULL if x is NULL; a if x is non-zero; 0 otherwise
if(x,a,b)
    NULL if x is NULL; a if x is non-zero; b otherwise
if(x,n,z,p)
    NULL if x is NULL; n if x is negative;
z if x is zero; p if x is positive
</pre></div></li>
<li>The (new) function isnull(x) returns: 1 if x is NULL;
0 otherwise. The (new) function null()
(which has no arguments) returns an integer NULL.</li>
<li>Non-NULL, but invalid, arguments to functions should result in NULL.
<div class="code"><pre>
Examples:
log(-2)
sqrt(-2)
pow(a,b) where a is negative and b is not an integer
</pre></div></li>
</ul>
<p>NULL support: Please note that any math performed with NULL cells always
results in a NULL value for these cells. If you want to replace a NULL cell
on-the-fly, use the isnull() test function in a if-statement.
<p>Example: The users wants the NULL-valued cells to be treated like zeros. To
add maps A and B (where B contains NULLs) to get a map C the user can use a
construction like:<p><div class="code"><pre>
C = A + if(isnull(B),0,B)
</pre></div>
<p><b>NULL and conditions:</b>
<p>For the one argument form:
<div class="code"><pre>
if(x) = NULL        if x is NULL
if(x) = 0        if x = 0
if(x) = 1        otherwise (i.e. x is neither NULL nor 0).
</pre></div>
<p>For the two argument form:
<div class="code"><pre>
if(x,a) = NULL        if x is NULL
if(x,a) = 0        if x = 0
if(x,a) = a        otherwise (i.e. x is neither NULL nor 0).
</pre></div>
<p>For the three argument form:
<div class="code"><pre>
if(x,a,b) = NULL    if x is NULL
if(x,a,b) = b        if x = 0
if(x,a,b) = a        otherwise (i.e. x is neither NULL nor 0).
</pre></div>
<p>For the four argument form:
<div class="code"><pre>
if(x,a,b,c) = NULL    if x is NULL
if(x,a,b,c) = a        if x &gt; 0
if(x,a,b,c) = b        if x = 0
if(x,a,b,c) = c        if x &lt; 0
</pre></div>
More generally, all operators and most functions return NULL if *any*
of their arguments are NULL.
<br>
The functions if(), isnull() and eval() are exceptions.
<br>
The function isnull() returns 1 if its argument is NULL and 0 otherwise.
If the user wants the opposite, the ! operator, e.g. "!isnull(x)" must be
used.
<p>All forms of if() return NULL if the first argument is NULL. The 2, 3
and 4 argument forms of if() return NULL if the "selected" argument is
NULL, e.g.:
<div class="code"><pre>
if(0,a,b) = b    regardless of whether a is NULL
if(1,a,b) = a    regardless of whether b is NULL
</pre></div>
eval() always returns its last argument, so it only returns NULL if
the last argument is NULL.
<p><b>Note</b>: The user cannot test for NULL using the == operator, as that
returns NULL if either or both arguments are NULL, i.e. if x and y are
both NULL, then "x == y" and "x != y" are both NULL rather than 1 and
0 respectively.
<br>
The behaviour makes sense if the user considers NULL as representing an
unknown quantity. E.g. if x and y are both unknown, then the values of
"x == y" and "x != y" are also unknown; if they both have unknown
values, the user doesn't know whether or not they both have the same value.

<h2>NOTES</h2>

<h3>Usage from command line</h3>

Extra care must be taken if the expression is given on the command line.
Some characters have special meaning to the UNIX shell.
These include, among others:
<div class="code"><pre>
* ( ) &gt; &amp; |
</pre></div>
<p>It is advisable to put single quotes around the expression; e.g.:
<div class="code"><pre>
'result = elevation * 2'
</pre></div>
Without the quotes, the <code>*</code>, which has special meaning to the UNIX shell,
would be altered and <em>r.mapcalc</em> would see something other than the <code>*</code>.

<h3>Multiple computations</h3>
<p>
In general, it's preferable to do as much as possible in each
r.mapcalc command. E.g. rather than:
<div class="code"><pre>
        r.mapcalc "$GIS_OPT_OUTPUT.r = r#$GIS_OPT_FIRST * .$GIS_OPT_PERCENT + (1.0 - .$GIS_OPT_PERCENT) * r#$GIS_OPT_SECOND"
        r.mapcalc "$GIS_OPT_OUTPUT.g = g#$GIS_OPT_FIRST * .$GIS_OPT_PERCENT + (1.0 - .$GIS_OPT_PERCENT) * g#$GIS_OPT_SECOND"
        r.mapcalc "$GIS_OPT_OUTPUT.b = b#$GIS_OPT_FIRST * .$GIS_OPT_PERCENT + (1.0 - .$GIS_OPT_PERCENT) * b#$GIS_OPT_SECOND"
</pre></div>
<p>use:
<div class="code"><pre>
    r.mapcalc &lt;&lt;EOF
        $GIS_OPT_OUTPUT.r = r#$GIS_OPT_FIRST * .$GIS_OPT_PERCENT + (1.0 - .$GIS_OPT_PERCENT) * r#$GIS_OPT_SECOND
        $GIS_OPT_OUTPUT.g = g#$GIS_OPT_FIRST * .$GIS_OPT_PERCENT + (1.0 - .$GIS_OPT_PERCENT) * g#$GIS_OPT_SECOND
        $GIS_OPT_OUTPUT.b = b#$GIS_OPT_FIRST * .$GIS_OPT_PERCENT + (1.0 - .$GIS_OPT_PERCENT) * b#$GIS_OPT_SECOND
        EOF
</pre></div>
<p>as the latter will read each input map only once.

<h3>Backwards compatibility</h3>

For the backwards compatibility with GRASS 6,
<!-- check wording: -->
if no options are given, it manufactures <code>file=-</code> (which reads from
stdin), so you can continue to use e.g.:
<div class="code"><pre>
r.mapcalc &lt; file
</pre></div>
or:
<div class="code"><pre>
r.mapcalc &lt;&lt;EOF
foo = 1
EOF
</pre></div>
But unless you need compatibility with previous GRASS GIS versions, use <code>file=</code>
explicitly, as stated above.
<p>
When the map name contains uppercase letter(s) or a dot which are not
allowed to be in module option names, the <em>r.mapcalc</em> command will
be valid also without quotes:
<div class="code"><pre>
r.mapcalc elevation_A=1
r.mapcalc elevation.1=1
</pre></div>
However, this syntax is not recommended as quotes as stated above more safe.
Using quotes is both backwards compatible and valid in future.

<h3>Interactive input in command line</h3>

For formulas that the user enters from standard input
(rather than from the command line), a line continuation feature now exists.
If the user adds a backslash to the end of an input line, <em>r.mapcalc</em> assumes that
the formula being entered by the user continues on to the next input line.
There is no limit to the possible number of input lines
or to the length of a formula.
<p>If the <em>r.mapcalc</em> formula entered by the user is very long,
the map title will contain only some of it, but most (if not all) of
the formula will be placed into the history file for the <em>result</em> map.

<h3>Raster MASK handling</h3>
<p>
<em>r.mapcalc</em> follows the common GRASS behavior of raster MASK handling,
so the MASK is only applied when reading an existing GRASS raster map.
This implies that, for example, the command:
<div class="code"><pre>
r.mapcalc "elevation_exaggerated = elevation * 3"
</pre></div>
create a map respecting the masked pixels if MASK is active.

<p>
However, when creating a map which is not based on any map,
e.g. a map from a constant:
<div class="code"><pre>
r.mapcalc "base_height = 200.0"
</pre></div>
the created raster map is limited only by a computation region
but it is not affected by an active MASK.
This is expected because, as mentioned above, MASK is only applied when reading,
not when writing a raster map.
<p>
If also in this case the MASK should be applied, an if() statement including the
MASK should be used, e.g.:
<div class="code"><pre>
r.mapcalc "base_height = if(MASK, 200.0, null())"
</pre></div>

When testing MASK related expressions keep in mind that when MASK is active
you don't see data in masked areas even if they are not NULL.
See <em><a href="r.mask.html">r.mask</a></em> for details.

<h3>eval function</h3>
If the output of the computation should be only one map
but the expression is so complex that it is better to split it
to several expressions, the <code>eval</code> function can be used:
<div class="code"><pre>
r.mapcalc &lt;&lt; EOF
eval(elev_200 = elevation - 200, \
     elev_5 = 5 * elevation, \
     elev_p = pow(elev_5, 2))
elevation_result = (0.5 * elev_200) + 0.8 * elev_p
EOF
</pre></div>
This example uses unix-like <code>&lt;&lt; EOF</code> syntax to provide
input to <em>r.mapcalc</em>.
<p>
Note that the temporary variables (maps) are not created
and thus it does not matter whether they exists or not.
In the example above, if map <code>elev_200</code> exists it will not be
overwritten and no error will be generated.
The reason is that the name <code>elev_200</code> now denotes the temporary
variable (map) and not the existing map.
The following parts of the expression will use the temporary <code>elev_200</code>
and the existing <code>elev_200</code> will be left intact and will not be used.
If a user want to use the existing map, the name of the temporary variable
(map) must be changed.

<h3>Using the same map for input and output results</h3>
A map cannot be used both as an input and as an output as in
this invalid expression <code>oldmap = oldmap + 1</code>, instead
a subsequent rename using <em><a href="g.rename.html">g.rename</a></em> is
needed when the same name is desired:

<div class="code"><pre>
r.mapcalc "newmap = oldmap + 1"
g.rename raster=newmap,oldmap
</pre></div>

<h3>Random number generator initialization</h3>
<p>The pseudo-random number generator used by the rand() function can
be initialised to a specific value using the <b>seed</b> option.
This can be used to replicate a previous calculation.
<p>Alternatively, it can be initialised from the system time and the
PID using the <b>-r</b> flag. This should result in a different seed
being used each time.
<p>In either case, the seed will be written to the map's history, and
can be seen using <em>r.info</em>.
<p>If you want other people to be able to verify your results, it's
preferable to use the <b>seed</b> option to supply a seed which is
either specified in the script or generated from a deterministic process
such as a pseudo-random number generator given an explicit seed.
<p>Note that the rand() function will generate a fatal error if neither
the <b>seed</b> option nor the <b>-s</b> flag are given.

<h2>EXAMPLES</h2>

To compute the average of two raster map layers
<em>a</em> and <em>b</em>:
<div class="code"><pre>
ave = (a + b)/2
</pre></div>

<p>
To form a weighted average:
<div class="code"><pre>
ave = (5*a + 3*b)/8.0
</pre></div>

<p>
To produce a binary representation of the raster map layer
<em>a</em> so that category 0 remains 0 and all other categories become 1:
<div class="code"><pre>
mapmask = a != 0
</pre></div>
This could also be accomplished by:
<div class="code"><pre>
mapmask = if(a)
</pre></div>

<p>
To mask raster map layer <em>b</em> by raster map layer <em>a</em>:
<div class="code"><pre>
result = if(a,b)
</pre></div>

<p>
To change all values below 5 to NULL, keep 5 otherwise:
<div class="code"><pre>
newmap = if(map&lt;5, null(), 5)
</pre></div>

<p>
To create a map with random values in a defined range (needs either the
usage of <b>-s</b> flag or the <em>seed</em> parameter). The precision of
the input values determines the output precision (the resulting
<a href="rasterintro.html#raster-format">raster map type</a>):

<div class="code"><pre>
# write result as integer map (CELL)
random_int   = rand(-100,100)

# write result as double precision floating point map (DCELL)
random_dcell = rand(-100.0,100.0)

# write result as single precision floating point map (FCELL)
random_fcell = float(rand(-100.0,100.0))
</pre></div>

<p>
The graph() function allows users to specify a x-y conversion using
pairs of x,y coordinates.
In some situations a transformation from one value to another is not
easily established mathematically, but can be represented by a 2-D
graph and then linearly interpolated. The graph() function provides
the opportunity to accomplish this.
An x-axis value is provided to the graph function along with
the associated graph represented by a series of x,y pairs.  The x
values must be monotonically increasing (each larger than or equal to
the previous).  The graph function linearly interpolates between
pairs.  Any x value lower the lowest x value (i.e. first) will have
the associated y value returned.  Any x value higher than the last
will similarly have the associated y value returned.  Consider the
request:
<div class="code"><pre>
newmap = graph(map, 1,10, 2,25, 3,50)
</pre></div>
X (map) values supplied and y (newmap) values returned:
<div class="code"><pre>
0, 10
1, 10
1.5, 17.5
2.9, 47.5
4, 50
100, 50
</pre></div>

<h2>KNOWN ISSUES</h2>

The <em>result</em> variable on the left hand side of the equation should not
appear in the <em>expression</em> on the right hand side.

<div class="code"><pre>
<s>mymap = if( mymap &gt; 0, mymap, 0)</s>
</pre></div>

<p>Any maps generated by a <em>r.mapcalc</em> command only exist after the entire
command has completed. All maps are generated concurrently, row-by-row
(i.e. there is an implicit "for row in rows {...}" around the entire expression).
Thus the <code>#</code>, <code>@</code>, and <code>[ ]</code> operators cannot be used on a map
generated within same <em>r.mapcalc</em> command run.
Consequently, the following (strikethrough code) does not work:

<div class="code"><pre>
newmap = oldmap * 3.14
<s>othermap = newmap[-1, 0] / newmap[1, 0]</s>
</pre></div>

<p>Continuation lines must end with a <code>\</code> and have <em>no</em> trailing
white space (blanks or tabs). If the user does leave white space at the end of
continuation lines, the error messages produced by <em>r.mapcalc</em> will
be meaningless and the equation will not work as the user intended.
This is particularly important for the <code>eval()</code> function.
<p><!-- STILL TRUE ??-->
Currently, there is no comment mechanism in <em>r.mapcalc</em>.
Perhaps adding a capability that would cause the entire line to be
ignored when the user inserted a # at the start of a line
as if it were not present, would do the trick.
<p>The function should require the user to type "end" or "exit" instead
of simply a blank line. This would make separation of multiple scripts
separable by white space.
<p><em>r.mapcalc</em> does not print a warning in case of operations on
NULL cells. It is left to the user to utilize the <code>isnull()</code> function.

<h2>REFERENCES</h2>

<b><a href="https://grass.osgeo.org/gdp/raster/mapcalc-algebra.pdf">r.mapcalc: An Algebra for GIS and Image
Processing</a></b>, by Michael Shapiro and Jim Westervelt, U.S. Army
Construction Engineering Research Laboratory (March/1991).
<p>
<b><a href="https://grass.osgeo.org/history_docs/mapcalc.pdf">Performing Map Calculations on GRASS Data:
r.mapcalc Program Tutorial</a></b>, by Marji Larson, Michael Shapiro and Scott
Tweddale, U.S. Army Construction Engineering Research Laboratory (December
1991)
<p>Grey scale conversion is based on the C.I.E. x,y,z system where y represents
luminance.  See "Fundamentals of Digital Image Processing,"
by Anil K. Jain (Prentice Hall, NJ, 1989; p 67).

<h2>SEE ALSO</h2>

<em>
<a href="g.region.html">g.region</a>,
<a href="https://grass.osgeo.org/grass-stable/manuals/addons/r.bitpattern.html">r.bitpattern</a>,
<a href="r.blend.html">r.blend</a>,
<a href="r.colors.html">r.colors</a>,
<a href="r.fillnulls.html">r.fillnulls</a>,
<a href="r.mapcalc.simple.html">r.mapcalc.simple</a>
</em>

<h2>AUTHORS</h2>

Michael Shapiro, U.S.Army Construction Engineering
Research Laboratory
<p>Glynn Clements
