<h2>DESCRIPTION</h2>

<em>r.li.cwed</em> (contrast weighted edge density) calculates the
edge density between patch types specified: <!-- TODO fix grammar -->
<p><img src="rlicwed_formula.png" alt="rlicwed formula">
<p>with:

<ul>
<li> <b>k</b>: attribute</li>
<li> <b>m</b>: number of non-null attributes in the sampling area</li>
<li> <b>e<small><small>ik</small></small></b>: total length of edge in
 landscape between patch types i and k</li>
<li><b> d<small><small>ik</small></small></b>: dissimilarity (edge contrast
 weight) between patch types i and k</li>
<li> <b>Area</b>: total landscape area</li>
</ul>

The input file contains a row for each couple of patch type that we want to
consider in the calculation. Each row must be saved using this syntax:<br>
<small>patchType1,patchType2,dissimilarityBetweenPatchType1andPatchType2</small>

<h2>NOTES</h2>

Do not use absolute path names for the <b>config</b> and <b>output</b>
file/map parameters.

If the "moving window" method was selected in <b>g.gui.rlisetup</b>, then the
output will be a raster map, otherwise an ASCII file will be generated in
the folder <code>C:\Users\userxy\AppData\Roaming\GRASS8\r.li\output\</code>
(MS-Windows) or <code>$HOME/.grass8/r.li/output/</code> (GNU/Linux).
<p>
<!-- TODO: verify next: -->
If the sample area contains only NULL values it is considered to
have 0 patch and CWED=0. If Area is 0 <em>r.li.cwed</em> returns -1.
This is only possible if the map is masked.<br>
If you want to change these -1 values to NULL, run subsequently on the resulting map:
<div class="code"><pre>
r.null setnull=-1 input=my_map
</pre></div>
after index calculation.

<h2>EXAMPLES</h2>

To calculate the contrast weighted edge density index on map <em>my_map</em>, using
<em>my_conf</em> configuration file (previously defined with
<em>g.gui.rlisetup</em>) and saving results in <em>my_out</em>, run:
<div class="code"><pre>
r.li.cwed input=my_map conf=my_conf output=my_out \
          path=/path/to/weights.csv
</pre></div>

<br>Example for input "weights.csv" file:
<pre>
12,16,0.65
44,123,0.32
56,12,0.54
23,66,0.99
</pre>

<h2>SEE ALSO</h2>

<em>
<a href="r.li.html">r.li</a> - package overview,
<a href="g.gui.rlisetup.html">g.gui.rlisetup</a>
</em>

<h2>REFERENCES</h2>

McGarigal, K., and B. J. Marks. 1995. FRAGSTATS: spatial pattern
analysis program for quantifying landscape structure. USDA For. Serv.
Gen. Tech. Rep. PNW-351. (<a href="https://doi.org/10.2737/PNW-GTR-351">PDF</a>)

<h2>AUTHORS</h2>

Serena Pallecchi, student of Computer Science University of Pisa (Italy).<br>
Commission from Faunalia Pontedera (PI), Italy (www.faunalia.it)<br>
Markus Metz
