<!-- meta page description: wxGUI Data Catalog -->
<!-- meta page index: topic_GUI|GUI -->
<h2>DESCRIPTION</h2>

The <b>Data Catalog</b> is a <em><a href="wxGUI.html">wxGUI</a></em> component
for browsing, modifying and managing GRASS maps.

<p>
Data Catalog allows you to:

<ul>
  <li>browse GRASS projects and mapsets in the current GIS directory</li>
  <li>browse GRASS 2D/3D raster and vector maps</li>
  <li>rename, copy, move and delete GRASS maps including reprojection between different projects</li>
  <li>drag and drop maps for copying and moving</li>
  <li>searching and filtering maps using regular expressions</li>
  <li>display map in current project</li>
  <li>show metadata of maps</li>
</ul>

Note that projects are called <em>locations</em> at some places and in old documentation.

<center>
  <img src="datacatalog.png" border="0" alt="data catalog screenshot">
  <br>
  Figure: Data Catalog integrated in wxGUI.
</center>

<h2>NOTES</h2>

Some operations (copying, renaming, deleting) are by default enabled only within the current mapset.
To allow changing data outside of your current mapset, you need to press <em>Unlock</em> button in Data Catalog toolbar.

<h3>WARNING</h3>
When renaming, copying or deleting maps outside of Data Catalog, you need to reload
the current mapset or entire database, because it is currently not synchronised.

<h2>SEE ALSO</h2>

<em>
  <a href="wxGUI.html">wxGUI</a>,
  <a href="wxGUI.components.html">wxGUI components</a>
</em>

<p>
<em>
  <a href="g.copy.html">g.copy</a>,
  <a href="g.rename.html">g.rename</a>,
  <a href="g.remove.html">g.remove</a>,
  <a href="g.list.html">g.list</a>
</em>

<h2>AUTHORS</h2>

Anna Petrasova, NCSU GeoForAll Laboratory<br>
Tereza Fiedlerova, OSGeoREL, Czech Technical University in Prague,
Czech Republic
