<h2>DESCRIPTION</h2>

<em>r.info</em> reports some basic information about a
user-specified raster map layer.  This map layer must exist
in the user's current mapset search path.  Information
about the map's boundaries, resolution, projection, data
type, category number, project, mapset,
project parent directory (database directory),
the timestamp and history are put into a table and written to standard
output. The types of information listed can also be found
in the <i>cats</i>, <i>cellhd</i>, and <i>hist</i>
directories under the mapset in which the named map is
stored.

<p>
The user can save the tabular output to a file
by using the UNIX redirection mechanism (&gt;); for example, the user
might save a report on the <em>soils</em> map layer in a file called
<em>soil.txt</em> by typing:

<div class="code"><pre>
r.info map=soils &gt; soil.txt
</pre></div>

<h2>NOTES</h2>

On large maps, the total number of cells in the map may not be displayed
with an accurate number. This is only cosmetic.

<p>
Some standards (ISO-C90) and compilers do not support the 'long long' type
as a 64-bit type. In the case that GRASS GIS was built with such a compiler,
an accuracy message may be displayed in the output of <em>r.info</em>
after Total Cells.

<h2>EXAMPLES</h2>

Below is a full report produced by <em>r.info</em> for the raster map
<i>slope</i> in the North Carolina sample data base:

<div class="code"><pre>
r.info slope
 +----------------------------------------------------------------------------+
 | Map:      slope                          Date: Tue Nov  7 01:11:23 2006    |
 | Mapset:   PERMANENT                      Login of Creator: helena          |
 | Project:  nc_spm_08_grass7                                                 |
 | DataBase: /grassdata                                                       |
 | Title:    South-West Wake county: slope in degrees ( slope_ned10m )        |
 | Timestamp: none                                                            |
 |----------------------------------------------------------------------------|
 |                                                                            |
 |   Type of Map:  raster               Number of Categories: 255             |
 |   Data Type:    FCELL                                                      |
 |   Rows:         1350                                                       |
 |   Columns:      1500                                                       |
 |   Total Cells:  2025000                                                    |
 |        Projection: Lambert Conformal Conic                                 |
 |            N:     228500    S:     215000   Res:    10                     |
 |            E:     645000    W:     630000   Res:    10                     |
 |   Range of data:    min = 0  max = 38.68939                                |
 |                                                                            |
 |   Data Source:                                                             |
 |    raster elevation file elev_ned10m                                       |
 |                                                                            |
 |                                                                            |
 |   Data Description:                                                        |
 |    generated by r.slope.aspect                                             |
 |                                                                            |
 |   Comments:                                                                |
 |    slope map elev = elev_ned10m                                            |
 |    zfactor = 1.00 format = degrees                                         |
 |    min_slope = 0.000000                                                    |
 |                                                                            |
 +----------------------------------------------------------------------------+
</pre></div>

Alternatively, the output from <em>r.info</em> may be confined to a more terse
subset of the available information by passing various flags to the module:

<p>
Output in shell script style, useful for eval (<code>eval `r.info -g slope`</code>):

<div class="code"><pre>
r.info -g slope
north=228500
south=215000
east=645000
west=630000
nsres=10
ewres=10
rows=1350
cols=1500
cells=2025000
datatype=FCELL
ncats=255
</pre></div>

<p>
Output the map data range:
<div class="code"><pre>
r.info -r slope
min=0
max=38.68939
</pre></div>

<p>
Output the extended map data metadata in shell style:
<div class="code"><pre>
r.info -e slope
map=slope
mapset=PERMANENT
project=nc_spm_08_grass7
database=/grassdata
date="Tue Nov  7 01:11:23 2006"
creator="helena"
title="South-West Wake county: slope in degrees (slope_ned10m)"
timestamp="none"
units="none"
vdatum="none"
semantic_label="none"
source1="raster elevation file elev_ned10m"
source2=""
description="generated by r.slope.aspect"
comments="slope map elev = elev_ned10mzfactor = 1.00 format = degreesmin_slp_allowed = 0.000000"
</pre></div>

<h2>SEE ALSO</h2>

<em>
<a href="g.mapsets.html">g.mapsets</a>,
<a href="r.coin.html">r.coin</a>,
<a href="r.describe.html">r.describe</a>,
<a href="r.report.html">r.report</a>,
<a href="r.stats.html">r.stats</a>,
<a href="r.support.html">r.support</a>,
<a href="r.univar.html">r.univar</a>,
<a href="r.what.html">r.what</a>
</em>

<h2>AUTHOR</h2>

Michael O'Shea,
<a href="http://www.cecer.army.mil/">U.S. Army Construction Engineering Research Laboratory</a>
