<h2>DESCRIPTION</h2>

<em>v.build</em> builds support files for GRASS vector maps. These
support files supply topology and category information including
spatial index that are needed by other GRASS modules.

<p>
GRASS is generating these support files automatically, only in rare
cases the user has to (re)build them.

<p>
Refer to
<a href="vectorintro.html">vector data processing in GRASS GIS</a> for
more information on GRASS vector data model.

<h2>NOTES</h2>

<em>v.build</em> creates support files only for vector maps located in
the user's current mapset. It's not possible to rebuild support files
(<b>option=build</b>) for vector maps from other mapsets.

<p>
In case of errors, the user can optionally generate an <b>error</b>
vector map containing the erroneous vectors for later inspection.

<p>
If <b>error</b> vector map is specified, <em>v.build</em> checks:

<ul>
  <li>isolated bondaries (which are not forming any areas),</li>
  <li>centroids outside of area,</li>
  <li>duplicated centroids.</li>
</ul>

<p>
Extensive checks for topological errors (flag <b>-e</b>) also
includes:

<ul>
  <li>lines or boundaries of zero length,</li>
  <li>intersecting boundaries, ie. overlapping areas,</li>
  <li>areas without centroids that are not isles.</li>
</ul>

<h2>EXAMPLES</h2>

<h3>Build topology</h3>

Note that <b>option=build</b> recreates also spatial and category
indices, not only topology. For linked OGR layers
(see <em><a href="v.external.html">v.external</a></em>) also feature
index is created.

<div class="code"><pre>
v.build map=urbanarea option=build
</pre></div>

Note that the vector map <i>urbanarea</i> must be located in the
current mapset.

<h3>Dump topology or indices</h3>

Dump options print topology, spatial, category or feature index to
standard output. Such information can be printed also for vector maps
from other mapsets. A description of the vector topology is available in
the <a href="https://grass.osgeo.org/programming8/vlibTopology.html">GRASS GIS 8 Programmer's Manual</a>,
section "Vector library topology management".

<div class="code"><pre>
v.build map=urbanarea option=dump
</pre></div>

<h2>SEE ALSO</h2>

<em>
<a href="v.build.all.html">v.build.all</a>,
<a href="v.build.polylines.html">v.build.polylines</a>,
<a href="v.edit.html">v.edit</a>,
<a href="v.split.html">v.split</a>,
<a href="v.support.html">v.support</a>
</em>

<p>See also <em><a href="wxGUI.vdigit.html">wxGUI vector digitizer</a></em>.

<h2>AUTHORS</h2>

Dave Gerdes, U.S.Army Construction Engineering Research
Laboratory,<br>
Michael Higgins, U.S.Army Construction Engineering Research Laboratory,<br>
Radim Blazek, ITC-irst, Trento, Italy
