<!-- meta page description: wxGUI GCP Manager -->
<!-- meta page index: topic_GUI|GUI -->
<h2>DESCRIPTION</h2>

The <b>GCP Manager</b> is a <em><a href="wxGUI.html">wxGUI</a></em>
extension which allows the user to create, edit, and manage
Ground Control Points. It is available from the menu
&quot;File | Manage Ground Control Points&quot;.

<p>
The <b>GCP Manager</b> provides an interactive graphical interface to
manage and analyze Ground Control Points. A backup copy of the initial
POINTS file is always maintained and updated only on request (Save GCPs
to POINTS file). This guarantees that accidental changes are not
permanent and can be undone by reloading the Ground Control Points.

<p>
The GCP Manager must be started in the target project, not in the
source project (project used to be called location).

<p>
The GCP Manager is structured into three panels:

<ul>
  <li>The topmost panel shows a list of Ground Control Points. Tools to
  manipulate and analyze GCPs are provided in the toolbar. This panel can
  be moved out of the GCP manager window by either dragging with the
  caption or by clicking on the pin button on the right in the caption.
  This panel can also be placed below the map displays by dragging.</li>
  <li>The two panels in the lower part are used for map and GCP display,
  the left pane showing a map from the source project and the right
  pane showing a reference map from the target project. Numbered Ground
  Control Points are shown on both map displays.</li>
</ul>

<h3>Components of the GCP Manager</h3>

<center>
  <br><img src="wxGUI_gcp_frame.jpg" border="0" alt="GCP Manager"><br><br>
</center>

<p>
<em>Toolbars</em>
<p>
Two toolbars are provided with the GCP Manager, one for managing the map
displays and one for managing the GCP list.

<p>
<em>List of ground control points</em>
<p>
The list of Ground Control Points can be sorted by clicking on a column
header. Clicking on a cloumn header will sort the GCPs ascending, a
second click on the same column will sort the GCPs descending. Overall
RMS error and individual RMS errors of all points are often improved if
the GCP with the highest RMS error is adjusted. Individual coordinates
can be edited by double-clicking on a row.
<p>
The first column holds a checkbox and displays the point number. A GCP
is only used for RMS error calculation and georectification if its
checkbox on the left is checked. Uncheck to deactivate a GCP (mark as
unused GCP).

<p>
<em>Two panels for map display</em>
<p>
The left panel is used to display a map from the source project, the
right panel to display a map from the target project. Zooming in and
out is always possible with the mouse wheel and done for each map canvas
separately.
<p>
GCPs are displayed in different colors, depending on whether a GCP has
a high RMS error, is currently unused or is currently selected. Optionally,
currently unused GCPs are not shown on the map display.

<p>
<em>Statusbar</em>
<p>
At the bottom of the GCP Manager is a statusbar providing several
functions. The default is set to <em>Go to GCP No.</em> (see also below).
Typing a number or using the up/down arrows will center the maps on the
given GCP, useful with a high zoom.

<h4>GCP Map Display Toolbar</h4>

<dl>

<dt><img src="icons/show.png" alt="icon">&nbsp;
  <em>Display map</em></dt>
<dd>Displays maps for source and target canvas and re-renders any layers
that have changed since the last time the display was updated.</dd>

<dt><img src="icons/layer-redraw.png" alt="icon">&nbsp;
  <em>Re-render map</em></dt>
<dd>Re-renders both source and target canvas regardless of whether they
have changed or not.</dd>

<dt><img src="icons/erase.png" alt="icon">&nbsp;
  <em>Erase display</em></dt>
<dd>Erases both source and target canvas to a white background.</dd>

<dt><img src="icons/gcp-create.png" alt="icon">&nbsp;
  <em>Define GCP (Ground Control Points)</em></dt>
<dd>On left mouse click, coordinates are defined for the currently
selected GCP.</dd>

<dt><img src="icons/pan.png" alt="icon">&nbsp;
  <em>Pan</em></dt>
<dd>Interactive selection of a new center of view in the active
display monitor. Drag the pan cursor while pressing the left mouse
button to pan. Alternatively left-click on the new center. Panning
changes the location of the region displayed but not the size of the
area displayed or the resolution.</dd>

<dt><img src="icons/zoom-in.png" alt="icon">&nbsp;
  <em>Zoom in</em></dt>
<dd>Interactive zooming with the mouse in the active map canvas (source
or target). Drawing a box or just a left click with the mouse and zoom-in
cursor causes the display to zoom in so that the area defined by the box
fills the display. The map resolution is not changed. Clicking with the
zoom-in cursor causes the display to zoom in by 30%, centered on the
point where the mouse is clicked. Zooming changes the display region
extents (both size and location of area displayed).</dd>

<dt><img src="icons/zoom-out.png" alt="icon">&nbsp;
  <em>Zoom out</em></dt>
<dd>Interactive zooming with the mouse in the active map canvas (source
or target). Drawing a box or just a left click with the mouse and zoom-out
cursor causes the display to zoom out so that the area displayed
shrinks to fill the area defined by the box. The map resolution is not
changed. Clicking with the zoom-out cursor causes the display to zoom
out by 30%, centered on the point where the mouse is clicked. Zooming
changes the display region extents (both size and location of area
displayed).</dd>

<dt><img src="icons/zoom-more.png" alt="icon">&nbsp;
  <em>Adjust display zoom</em></dt>
<dd>Source and target display are adjusted by using the current GCPs for
coordinate transformation:
<br><br>
  <dl>
    <dt><em>Adjust source display to target display</em>
    <dd>The extents of the source display are adjusted to the current
    extents of the target display.
    <dt><em>Adjust target display to source display</em>
    <dd>The extents of the source display are adjusted to the current
    extents of the target display.
  </dl>

<dt><em>Set active map canvas</em></dt>
<dd>Sets the currently active map canvas (source or target). Click
to set active map canvas for <em>Return to previous zoom</em> or
<em>Zoom to extent of currently displayed map</em>. Alternatively, move
the mouse over the map canvas to be used as active canvas.</dd>

<dt><img src="icons/zoom-last.png" alt="icon">&nbsp;
  <em>Return to previous zoom</em></dt>
<dd>Returns to the previous zoom extent. Up to 10 levels of zoom back are
maintained.</dd>

<dt><img src="icons/zoom-extent.png" alt="icon">&nbsp;
<em>Zoom to extent of currently displayed map</em></dt>
<dd>Zoom to the extent of the currently displayed map in the active map
canvas (source or target).</dd>

<dt><img src="icons/settings.png" alt="icon">&nbsp;
<em>Settings</em></dt>
<dd>Shows a settings dialog for GCP management and display:<br><br>

  <dl>
    <dt><em>Symbology</em></dt>
      <dd>Settings for map and GCP display:<br><br>

      <dl>
        <dt><em>Highlight highest RMS error only</em></dt>
          <dd>Only the GCP with the highest RMS error will be displayed in
          a different colour, both in the list of GCPs and the GCP Map Display.
        <dt><em>Factor for RMS error threshold = M + SD * factor:</em></dt>
          <dd>All GCPs with an RMS error larger than mean RMS + RMS standard
          deviation * this factor will be displayed in a different colour,
          both in the list of GCPs and the GCP Map Display. As a rule of
          thumb, GCPs with an RMS error larger than <em>M + SD * 2</em> are
          most probably wrong. GCPs with an RMS error larger than
          <em>M + SD * 1</em> are worth closer inspection. This option is
          only available if <em>Highlight highest RMS error only</em> is
          unchecked.</dd>
        <dt><em>Color</em></dt>
          <dd>Set the color for GCPs on the GCP Map Display.</dd>
        <dt><em>Color for high RMS error</em></dt>
          <dd>Set the color for GCPs with a high RMS error on the GCP Map
          Display.</dd>
        <dt><em>Color for selected GCP</em></dt>
          <dd>Set the color for the currently selected GCP on the GCP Map
          Display.</dd>
        <dt><em>Show unused GCPs</em></dt>
          <dd>If unchecked, unused GCPs will not be shown on the GCP Map
          Display.</dd>
        <dt><em>Color for unused GCPs</em></dt>
          <dd>Set the color for unused GCPs on the GCP Map Display.</dd>
        <dt><em>Symbol size</em></dt>
          <dd>Set the symbol size for GCPs on the GCP Map Display.</dd>
        <dt><em>Line width</em></dt>
          <dd>Set the line width for GCPs on the GCP Map Display.</dd>
        <dt><em>Select source map to display</em></dt>
          <dd>Select a source map for the left pane of the GCP Map Display.</dd>
        <dt><em>Select target map to display</em></dt>
          <dd>Select a target map for the right pane of the GCP Map Display.</dd>
      </dl>
      </dd>

    <dt><br><em>Rectification</em></dt>
      <dd>Settings for georectification:<br><br>
      <dl>
        <dt><em>Select rectification method</em></dt>
          <dd>Set the polynomial order for georectification. This order will
          also be used for RMS error calculation.</dd>
        <dt><em>Clip to computational region in target project</em></dt>
          <dd>Clip raster maps to the current computational region in the
          target project when georectifying.</dd>
        <dt><em>Extension for output maps</em></dt>
          <dd>Change the extension for output map names when doing the actual
          georectification.</dd>
      </dl>
      </dd>
  </dl><br>
</dd>

<dt><img src="icons/help.png" alt="icon">&nbsp;
<em>Show Help</em></dt>
<dd>Show help page for the GCP Manager.

<dt><img src="icons/quit.png" alt="icon">&nbsp;
<em>Quit</em></dt>
<dd>Quit the GCP Manager.

</dl>

<h4>Toolbar for the GCP list</h4>

<dl>

<dt><img src="icons/gcp-save.png" alt="icon">&nbsp;
<em>Save GCPs to POINTS file</em></dt>
<dd>The current list of GCPs is saved to the imagery group's POINTS file
and to a backup copy.</dd>

<dt><img src="icons/gcp-add.png" alt="icon">&nbsp;
<em>Add new GCP</em></dt>
<dd>Adds a new Ground Control Point to the list and selects it for editing.</dd>

<dt><img src="icons/gcp-delete.png" alt="icon">&nbsp;
<em>Delete selected GCP</em></dt>
<dd>Deletes the currently selected GCP from the list.</dd>

<dt><img src="icons/gcp-remove.png" alt="icon">&nbsp;
<em>Clear selected GCP</em></dt>
<dd>Resets all coordinates of the currently selected GCP to 0 (zero).</dd>

<dt><img src="icons/reload.png" alt="icon">&nbsp;
<em>Reload GCPs from POINTS file</em></dt>
<dd>Reloads GCPs from the imagery group's POINTS file.</dd>

<dt><img src="icons/gcp-rms.png" alt="icon">&nbsp;
<em>Recalculate RMS error</em></dt>
<dd>Recalculates forward and backward RMS error for all GCP marked for
use (activated checkbox in first row).
</dd>

<dt><img src="icons/georectify.png" alt="icon">&nbsp;
<em>Georectify</em></dt>
<dd>Uses <em><a href="i.rectify.html">i.rectify</a></em> to georectify
all images in the source imagery group.
</dd>

</dl>

<h4>GCP Map Display Statusbar</h4>

The GCP map display statusbar is similar to the statusbar in the regular
GRASS GIS map display with two differences, <em>Go to</em> has been
replaced with <em>Go to GCP No.</em> and <em>Projection</em> has been
replaced with <em>RMS error</em>.
<p>
If <em>Go to GCP No.</em> is selected, a GCP number can be given in the
left side of the statusbar and the source and target map canvas will be
centered on the given GCP. Clicking on the map canvas will update
coordinates for this GCP.
<p>
If <em>RMS error</em> is selected, the overall forward and backward RMS
error is displayed.

<h2>SEE ALSO</h2>

<em>
  <a href="wxGUI.html">wxGUI</a>,
  <a href="wxGUI.components.html">wxGUI components</a>
</em>

<p>
<em>
<a href="i.rectify.html">i.rectify</a>,
<a href="m.transform.html">m.transform</a>,
<a href="v.rectify.html">v.rectify</a>
</em>

<p>
See also <a href="https://grasswiki.osgeo.org/wiki/WxGUI/Video_tutorials#Georectifier">video
tutorials</a> on GRASS Wiki.

<h2>AUTHORS</h2>

Markus Metz<br><br>
<em>Based on the Georectifier (GRASS 6.4.0)</em> by Michael Barton<br>
Martin Landa, Czech Technical University in Prague, Czech Republic
